%preserve-3d {
	transform-style: preserve-3d;
}
%transtion-transform {
	transition: transform 0.36s ease, clip-path 0.36s ease, transform-origin 0.36s ease;
}

.swiper-container {
	@extend %transtion-transform;
}

.corner-swiper {
	@extend %preserve-3d;

	flex-shrink: 0;
	perspective: 1800px;
	overflow: visible;
}

.element-3d {
	clip-path: polygon(0 0, var(--position) 0, var(--position) 100%, 0 100%);
	transform: rotateX(0deg) rotateY(var(--rotate)) translateX(1px);
	transform-origin: var(--position);
	@extend %preserve-3d;
	@extend %transtion-transform;
}

.element-2d {
	clip-path: polygon(var(--position) 0, 100% 0, 100% 100%, var(--position) 100%);
	@extend %preserve-3d;
	@extend %transtion-transform;
}
